{% extends 'base.html' %}
{% load static %}

{% block title %}新建账单{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'dist/bootstrap.min.css' %}">
{% endblock %}

{% block body %}
    <div>
        <h1>新建账单</h1>
    </div>
    <div id="accounts" class="row">
        <div class="col-md-4">
            <div id="cashAndBackup" class="panel panel-default">
                <div class="panel-heading">现金备用金<span style="float: right;">+</span></div>
                <div  class="panel-body">
                    <p class="col-md-5">现金</p><p class="col-md-5">xxx ￥</p><p class="col-md-2">x</p>
                </div>
            </div>
            <div id="income" class="panel panel-default">
                <div class="panel-heading">收入<span style="float: right;">+</span></div>
                <div  class="panel-body">
                    <p>工资</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="investmentAccount" class="panel panel-default">
                <div class="panel-heading">投资账户<span style="float: right;">+</span></div>
                <div class="panel-body">
                    <p>支付宝</p>
                    <p>股票</p>
                    <p>蚂蚁金服</p>
                    <p>南方基金</p>
                    <p>华夏基金</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div id="insuranceAccount" class="panel panel-default">
                <div class="panel-heading">保险账户<span style="float: right;">+</span></div>
                <div class="panel-body">
                    <p>意外险</p>
                    <p>重疾</p>
                    <p>养老</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="btn-group"  style="float: right;">
            <button class="btn btn-primary">新建</button>
            <button class="btn btn-primary">取消</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'dist/create_new.bundle.js' %}"></script>
{% endblock %}